.description {
    font-size: 20px;
    margin: 2em;
    text-decoration: underline;
}

.ddl {
    margin: 2em;
    cursor: pointer;
}

.homePageShowing {
    width: 95%;
    display: inline-block;
    margin: auto;
}

.homePageNotShowing {
    display: none;
}

.buttons {
    margin: 2em 0 0 1em;
    border-radius: 8px;
    background-color: black;
    color: white;
    transition-duration: 0.4s;
}

.buttons:hover {
    background-color: white;
    color: black;
}

.buttons:focus {
    background-color: white;
    color: black;
}

.detailsPageShowing {
    width: 95%;
    display: inline-block;
    text-align: center;
    
}

.detailsPageNotShowing {
    display: none;
}

.worldMaps {
    width: 95%;
    margin: 1em auto 1em auto;
}

.graphs {
    display: inline-block;
    margin: 1em;
    width: 45%;
}

#header {
    margin-bottom: 0px;
}

#footer {
    margin-bottom: 0px;
    text-align: center;
}

.slider {
    text-align: center;
    margin: auto 2.5% auto 2.5%;
}